body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  font-family: "Cantarell" !important;
  font-size: 20px !important;
  scroll-behavior: auto !important;
  margin: 0;
}

.modal {
  overflow: hidden !important;
}

.ratio-16x10 {
  --bs-aspect-ratio: 52.75% !important;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

figure {
  margin: 0 !important;
}

.preloaderWrapper {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* NAVBAR START */
.navbar {
  width: 0;
}

.msthebearLogo {
  z-index: 999;
  position: fixed;
  height: 12.5%;
  transition: all linear 0.25s;
  margin-left: 1.5%;
  margin-top: 1%;
  transition: all 0.25s ease-in-out;
}

.navLogoScroll {
  height: 10%;
}

.navbar-brand {
  color: white !important;
}

.nav-item .nav-link {
  color: white !important;
}

.nav-item a:hover {
  color: #a8744c !important;
}

.toggleMenuButton {
  color: white;
  width: 60px;
  height: 60px;
  z-index: 9999;
  background-color: transparent;
  position: fixed;
  border: none;
  top: 1%;
  right: 1%;
  transition: all 0.25s ease-in-out;
  filter: drop-shadow(0 0 1px black);
}

/* NAVBAR END */
/* MENU OVERLAY START */
.modal-content {
  background-color: transparent !important;
}

.modal-content,
.modal-header,
.modal-footer {
  border: none !important;
}

.modal-backdrop {
  background-color: black !important;
  opacity: 0.9 !important;
}

.modal-body {
  padding: 0 !important;
}

.modal-dialog {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.centerAlign {
  text-align: center;
}

#msthebearLogoOverlay {
  width: 200px;
  transition: all 0.25s ease-in-out;
}

.bi-x-lg {
  color: black !important;
}

.nav-item .nav-link {
  font-size: 2rem !important;
  margin: 0 auto !important;
  width: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.buttonCloseMenu {
  margin: 0 auto !important;
  background-color: white !important;
  color: black !important;
  width: 150px;
  height: 50px;
  transition: all 0.25s ease-in-out !important;
}

/* MENU OVERLAY END*/
/* SECTION VIDEO START */
#videoBackground {
  position: relative;
}

.backgroundVideoImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#videoOnTv {
  width: 47.3%;
  margin-top: -47.8%;
  left: 26.25%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  border-radius: 1.25% 1.25% 0 0;
}

#scrollContainer {
  position: absolute;
}

#scrollIcon {
  width: 2%;
  margin-top: 46%;
  position: absolute;
  left: 50%;
}

.floatingScroll {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
/* SECTION VIDEO END */
/* SECTION ABOUT ME START */
#aboutMe {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.aboutMeTextContainer {
  width: 70%;
}

.aboutMeText {
  -moz-text-align-last: center;
  text-align-last: center;
  font-size: 2vh;
  color: #737373;
  margin-bottom: 100px;
}

.myName {
  font-size: 4vh;
}

#textTheBear {
  font-size: 4vh;
  color: #4A7D96;
}

#justifyText {
  text-align: justify;
}

#reachOut {
  color: #4A7D96;
  text-decoration: none;
}

#reachOut:hover {
  color: brown;
}

#background_bear {
  width: 100%;
  margin-bottom: 50px;
}

.softwareLogos {
  width: 80%;
  transition: all 0.25s ease-in-out;
  padding-bottom: 7%;
}

/* SECTION ABOUT ME END */
/* VIDEO GALLERY START*/
#videoPlayer {
  margin: 0 auto;
  width: 100%;
  background-color: black;
}

#projectButtonVideo {
  background-color: black;
  border: none;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
}

#projectButtonContainer {
  border: none;
  height: 150px;
  width: 100vw;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#projectPlayButton {
  width: 150px;
}

#transcriptContainer {
  display: none;
  width: 100%;
  padding: 15px;
  border: 6px solid white;
  margin: 0 auto;
  color: white;
  position: relative;
}

#transcriptText {
  margin-bottom: 0;
}

#portfolioVideography {
  background-color: #f5f8fa;
}

#filterContainer {
  background-color: #4A7D96;
  text-align: center;
}

#filterContainer .btn {
  padding: 1%;
  border-radius: 0;
}

.videoFilterButtons {
  background-color: #4A7D96;
  color: white !important;
}

.videoFilterButtons:hover {
  background-color: white !important;
  color: #4A7D96 !important;
}

.containerItems {
  overflow: hidden;
}

.filterDiv {
  overflow: hidden;
  float: left;
  display: none;
}

.video_thumbnails {
  width: 100%;
  transition: 0.5s ease all;
  display: block;
  width: 100%;
  height: auto;
}

.show {
  display: block;
}

.btn.activeMy {
  background-color: white !important;
  color: #4A7D96 !important;
}

.containerOverlay {
  position: relative;
  width: 50%;
}

.overlay {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  cursor: pointer;
}

.containerOverlay:hover .overlay {
  opacity: 0.8;
}

.titlesContainer {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titles {
  font-size: 1.5rem;
}

/* VIDEO GALLERY END*/
/* SECTION BRANDS START */
#sectionBrands {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textBrands {
  text-align: center;
  font-size: 2.5vh;
  color: #305C73;
  padding-bottom: 5%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2750px);
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 768px;
}
.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: 5500px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

/* SECTION BRANDS END */
/* SECTION CONTACT ME START */
#contactMe {
  border-top: 1px solid lightgray;
}

.containerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/background/contact_background.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0 !important;
}

ul li {
  display: inline-block;
}

#textTouchBase {
  font-size: 1.5rem;
  color: #6498b3;
}

.socialIcon {
  width: 40px;
  transition: all 0.15s ease-in-out;
}

.form-control {
  border: none !important;
  background-color: transparent !important;
}

.buttonSubmit {
  width: 100px;
  padding-left: 10px !important;
}

.formContainer input {
  border-radius: none !important;
  border-bottom: 1px solid lightblue !important;
}

#textArea {
  border: none;
  outline: none;
  padding-left: 7px;
  width: 100%;
  background-color: transparent;
  overflow: auto;
  outline: lightblue 1px solid;
  box-shadow: none;
}

input:focus,
textarea:focus {
  outline: 6px solid rgb(1, 106, 171) !important;
  border-radius: 10px !important;
}

.buttonSubmit {
  background-color: #4A7D96 !important;
  border-color: transparent !important;
}

.buttonSubmit:hover {
  background-color: #a8744c !important;
}

/* SECTION CONTACT ME END */
/* SCROLL UP START */
.bi-arrow-up-square-fill {
  display: none;
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  filter: drop-shadow(0 0 5px grey);
}

/* SCROLL UP END */
/* TRANSFORMING START */
.msthebearLogo:hover,
.toggleMenuButton:hover,
#msthebearLogoOverlay:hover,
.buttonCloseMenu:hover,
.softwareLogos:hover,
.socialIcon:hover {
  transform: scale(1.2);
}

/* TRANSFORMING END */
/* MOBILE VIEW START */
@media (max-width: 1500px) {
  .aboutMeText {
    margin-bottom: 50px;
  }
  .text {
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .titles {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .modal-dialog {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
  }
  .navbar-toggler {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  .bi-x-lg {
    color: black !important;
  }
  .toggleMenuButton {
    color: white;
    width: 80px;
    height: 80px;
  }
  .nav-item .nav-link {
    font-size: 1.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
  }
  .aboutMeTextContainer {
    width: 100% !important;
  }
  .aboutMeText {
    font-size: 1rem !important;
  }
  #aboutMe {
    min-height: 800px;
    margin: 50px;
  }
  .msthebearLogo {
    height: 9%;
    margin-left: 3%;
    margin-top: 3%;
  }
  .aboutMeTextContainer {
    width: 90%;
  }
  .aboutMeText {
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 3vw;
    color: grey;
  }
  .myName {
    font-size: 7vw;
  }
  #textTheBear {
    font-size: 7vw;
    color: #4A7D96;
  }
  .videoFilterButtons {
    font-size: 0.8rem !important;
  }
  #projectPlayButton {
    max-width: 100px !important;
  }
  #textBrands {
    font-size: 1.2rem;
    padding-bottom: 60px;
  }
  #textTouchBase {
    font-size: 1.2rem;
  }
  #filterContainer .btn {
    padding: 2%;
    border-radius: 0;
  }
  #textBrands {
    width: 80%;
    margin: 0 auto;
  }
  .slider {
    width: 400px;
  }
  .containerContact {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 400% auto;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  .msthebearLogo:hover,
  .toggleMenuButton:hover,
  #msthebearLogoOverlay:hover,
  .buttonCloseMenu:hover,
  .softwareLogos:hover,
  .socialIcon:hover {
    transform: scale(1);
  }
}
/* THANK YOU PAGE START */
.thankYouSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thankYouContainer {
  width: 450px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: #f5f8fa;
  border-radius: 50px;
}

#checkBox {
  width: 100% !important;
  height: 200px;
  display: flex;
  background-color: #6697b2;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

#msthebearLogo_ {
  width: 200px;
  margin-bottom: 5%;
  transition: all 0.3s ease-in-out;
}

#msthebearLogo_:hover {
  transform: translate(0, -10px);
}

#thankYouText {
  color: #6697b2;
  padding-bottom: 5%;
}

#buttonBackHome {
  width: 100%;
  padding: 20px;
  margin-bottom: 5%;
  border: none;
  color: white;
  background-color: #ED7112;
  transition: all 0.3s ease-in-out;
}

#buttonBackHome:hover {
  color: white;
  background-color: #6697b2;
}

#socialIconsBox {
  display: flex;
  justify-content: space-evenly;
}

.socialIcon_ {
  width: 50px;
  margin: 30px;
  transition: all 0.25s ease-in-out;
}

.socialIcon_:hover {
  transform: scale(1.25);
}

/* THANK YOU PAGE END *//*# sourceMappingURL=app.css.map */